{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

  <!-- NAVIGATION -->

  <div class="govuk-grid-column-one-quarter">
    <ul class="app-subnav__section">
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="/components/loading-spinner">Loading spinner</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Multiple file upload</a>
      </li>
      <li class="app-subnav__section-item">
        <a class="app-subnav__link govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">Service header</a>
      </li>
    </ul>
  </div>

  <!-- CONTENT -->

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">Components</h1>
    <p class="govuk-body">[Content]</p>
  </div>
</div>

{% endblock %}
